.cityRating{
   flex: 1;
}
.cityRating__title h2{
   font-size: 40px;
   font-weight: 500;
}
.cityRating__text{
   margin-top: 25px;
   max-width: 800px;
}
.cityRating__text p{
   font-size: 16px;
   font-weight: 400;
}
.cityRating__items{
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.cityRating__item{
   padding: 12px 25px;
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   border-radius: 8px;
   width: 49%;
   align-items: center;
   margin-bottom: 25px;
}
.aboutUser{
   display: flex;
}
.item__info{
   margin-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.item__info p{
   font-size: 16px;
   font-weight: 500;
}
.item__gold{
   display: flex;
   align-items: center;
   margin-top: 3px;
}
.item__gold p{
   color: #096DD9;
}
.item__aboutBtn button{
   width: 32px;
   height: 32px;
   border-radius: 6px;
   border: none;
   cursor: pointer;
}
.item__aboutBtn button:active{
   transform: translateY(2px);
}



@media(max-width: 1150px){
   .aboutUser{
      margin-right: 5px;
   }
   .item__info{
      margin-left: 10px;
   }
}

@media(max-width: 1020px){
   .cityRating{
      margin-top: 25px;
      padding-bottom: 30px;
   }
}

@media(max-width: 750px){
   .cityRating__items{
      display: block;
   }
   .cityRating__item{
      width: 100%;
   }
}

@media(max-width: 450px){
   .cityRating__title h2{
      font-size: 24px;
   }
}
