.citizens{
   flex: 1;
}
.citizens__top{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.top__title h2{
   font-size: 40px;
   font-weight: 500;
}
.top__selectMenu{
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   padding: 0 15px;
   height: 30px;
   background-color: #fff;
   border-radius: 6px;
   cursor: pointer;
}
.top__selectMenu p{
   font-size: 14px;
   font-weight: 400;
}
.top__selectMenu span{
   margin-bottom: 4px;
   margin-left: 7px;
}
.blockOfCitizens{
   margin-top: 45px;
}
.blockOfCitizens h3{
   font-size: 40px;
   font-weight: 500;
}
.items{
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
}
.item{
   width: 33%;
   text-align: center;
   margin-bottom: 40px;
}
.item p{
   margin: 0 auto;
   margin-top: 15px;
   font-size: 28px;
   font-weight: 500;
}
.item span{
   font-size: 20px;
   font-weight: 400;
   color: #8C8C8C;
   margin-top: 15px;
   display: block;
}
.item button{
   margin-top: 20px;
   height: 40px;
   padding: 0 20px;
   border: none;
   background-color: #1890FF;
   cursor: pointer;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   border-radius: 6px;
}
.item button:active{
   transform: translateY(2px);
}

@media(hover: hover) and (pointer: fine){
   .item button:hover{
      background-color: #85b5ec;
   }
}


@media(max-width: 1200px){
   .item{
      width: 31%;
      margin-right: 15px;
   }
   .item img{
      width: 100%;
      height: auto;
   }
}

@media(max-width: 1020px){
   .citizens{
      margin-top: 25px;
      padding-bottom: 30px;
   }
}

@media(max-width: 970px){
   .items{
      justify-content: space-between;
   }
   .item{
      margin-right: 0;
      width: 45%;
   }
}


@media(max-width: 500px){
   .top__title h2,.blockOfCitizens h3{
      font-size: 24px;
   }
   .item p{
      font-size: 18px;
   }
   .item span{
      font-size: 16px;
   }
}

@media(max-width: 350px){
   .top__selectMenu{
      padding: 0 5px;
   }
}