.headerBtn1Block{
   position: relative;
}
.notification{
   width: 400px;
   height: 210px;
   background-color: #fff;
   border-radius: 12px;
   position: absolute;
   top: 55px;
   right: 12px;
   box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
   padding: 32px 32px 24px 72px;
   display: flex;
   flex-direction: column;
}

.notification h3{
   font-size: 16px;
   font-weight: 600;
   position: relative;
   margin-bottom: 10px;
}
.notification h3::before{
   content:'';
   width: 24px;
   height: 24px;
   position: absolute;
   top: -2px;
   left: -35px;
   background-image: url(../../../img/header/cartCheck.png);
}
.notification p{
   font-size: 14px;
   font-weight: 400;
   margin-top: 5px;
}
.notificationBtn{
   flex: 1;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   margin-left: auto;
}
.notification button{
   width: fit-content;
   padding: 0 16px;
   height: 32px;
   background-color: #1890FF;
   border: none;
   border-radius: 2px;
   font-size: 14px;
   font-weight: 400;
   color: #fff;
   user-select: none;
   cursor: pointer;
}
.notification .btn1{
   background-color: #fff;
   color: #000;
   border: 1px solid #D9D9D9;
}
.notification button:active{
   transform: translateY(2px);
}
.cityProject{
   flex: 1;
}
.cityProject__top{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.top__title h2{
   font-size: 40px;
   font-weight: 500;
}
.top__selectMenuItems{
   display: flex;
}
.selectMenuItem{
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   padding: 0 15px;
   height: 30px;
   background-color: #fff;
   border-radius: 6px;
   cursor: pointer;
   margin-right: 15px;
}
.selectMenuItem:last-child{
   margin-right: 0;
}
.selectMenuItem p{
   font-size: 14px;
   font-weight: 400;
}
.selectMenuItem span{
   margin-bottom: 4px;
   margin-left: 7px;
}
.titleOfProject{
   margin-top: 30px;
}
.titleOfProject h2{
   font-size: 40px;
   font-weight: 500;
}
.cityProject__items{
   display: flex;
   margin-top: 30px;
   justify-content: space-between;
   flex-wrap: wrap;
}
.cityProject__item{
   width: 49%;
   height: 465px;
}
.item__img{
   width: 100%;
   height: 274px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   display: inline-block;
   border-radius: 12px;
   position: relative;
}
.itemBright{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: black;
   opacity: 0.7;
   z-index: 1;
   border-radius: 12px;
   display: none;
}
.item__img1{
   background-image: url(../../../img/cityProjects/items/1.png);
}
.item__img2{
   background-image: url(../../../img/cityProjects/items/2.png);
}
.item__img3{
   background-image: url(../../../img/cityProjects/items/3.png);
}
.item__img4{
   background-image: url(../../../img/cityProjects/items/4.png);
}
.item__img5{
   background-image: url(../../../img/cityProjects/items/5.png);
}
.item__img6{
   background-image: url(../../../img/cityProjects/items/6.png);
}
.item__img7{
   background-image: url(../../../img/cityProjects/items/7.png);
}
.item__img8{
   background-image: url(../../../img/cityProjects/items/8.png);
}
.item__text{
   text-align: center;
   padding: 0 30px;
   height: 100%;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   visibility: hidden;
   z-index: 100;
   position: absolute;
}
.item__text p{
   font-size: 12px;
   font-weight: 400;
   color: #fff;
}
.item__name{
   margin-top: 15px;
   text-align: center;
}
.item__name p{
   font-size: 20px;
   font-weight: 500;
}
.item__info{
   margin-top: 10px;
   text-align: center;
}
.item__info p{
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 5px;
}
.item__price{
   display: flex;
   justify-content: center;
   margin-top: 15px;
   align-items: center;
}
.item__price p{
   font-size: 28px;
   font-weight: 500;
}
.item__price button{
   margin-left:15px;
   font-size: 16px;
   font-weight: 400;
   border: none;
   border-radius: 6px;
   background-color: #1890FF;
   color: #fff;
   height: 40px;
   padding: 0 45px;
   cursor: pointer;
}
.item__price button:active{
   transform: translateY(2px);
}
.price__amount{
   margin-left: 15px;
}
.price__amount span{
   font-size: 16px;
   font-weight: 500;
   margin: 0 12px;
}
.item__price .amountBtn{
   width: 40px;
   height: 40px;
   border-radius: 6px;
   border:none;
   background-color: #1890FF;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   user-select: none;
   cursor: pointer;
   margin-left: 0;
   padding: 0;
}
.item__price .amountBtnDisabled{
   background-color: #D9D9D9;
   cursor: default;
}
.item__price .amountBtnDisabled:active{
   transform: none;
}

@media(hover: hover) and (pointer: fine){
   .item__img:hover .item__text{
      visibility: visible;
   }
   .item__img:hover .itemBright{
      display: block;
   }
   .item__price button:hover{
      background-color: #85b5ec;
   }
   .item__price .amountBtnDisabled:hover{
      background-color: #D9D9D9;
   }
   .notification button:hover{
      background-color: #85b5ec;
   }
   .notification .btn1:hover{
      background-color: #1890FF;
      color:#fff;
   }
}

@media(max-width: 1250px){
   .top__selectMenuItems{
      display: block;
   }
   .selectMenuItem{
      margin-right: 0;
      margin-bottom: 10px;
   }
   .cityProject__top{
      align-items: unset;
   }
}

@media(max-width: 1020px){
   .cityProject{
      margin-top: 25px;
   }
}

@media(max-width: 970px){
   .notification{
      text-align: start;
      right: 0;
   }
}

@media(max-width: 750px){
   .cityProject__items{
      display: block;
   }
   .cityProject__item{
      width: 70%;
      margin: 0 auto;
   }
}

@media(max-width: 700px){
   .notification{
      right: unset;
      left: 0;
   }
}

@media(max-width: 500px){
   .cityProject__item{
      width: 100%;
      margin: 0;
   }
   .notification{
      padding: 15px 20px;
      width: 350px;
      text-align: center;
   }
   .notification h3{
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 5px;
   }
}

@media(max-width: 450px){
   .top__title h2, .titleOfProject h2{
      font-size: 24px;
   }
   .item__price p{
      font-size: 22px;
   }
   .cityProject__top{
      flex-direction: column;
   }
   .top__selectMenuItems{
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
   }
   .selectMenuItem{
      margin-right: 10px;
   }
}
@media(max-width: 400px){
   .notification h3::before{
      left:unset;
      right: -30px;
   }
   .notification{
      text-align: unset;
      width: 290px;
   }
   .notification h3{
      margin: 0;
   }
   .notificationBtn{
      margin-left: 0;
   }
   .btnsBlock{
      display: flex;
      flex-direction: column;
   }
   .notification .btn1{
      margin-bottom: 10px;
   }
}