.citySecrets{
   flex: 1;
}
.citySecrets__title h2{
   font-size: 40px;
   font-weight: 500;
}
.citySecrets__items{
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
}
.citySecrets__column{
   width: 18%;
}
.citySecrets__item{
   text-align: center;
   margin-bottom: 30px;
   height: 235px;
}
.citySecrets__item img{
   user-select: none;
}
.item__text{
   max-width: 100px;
   margin: 0 auto;
   margin-top: 15px;
}
.citySecrets__item p{
   font-size: 16px;
   font-weight: 600; 
}
.item__gold{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5px;
}
.item__gold p{
   margin-left: 5px;
   font-weight: 500;
   color: #096DD9;
}
.disabledItem img{
   opacity: 0.2
}
.disabledItem p{
   color: #BFBFBF;
}
.disabledItem svg path{
   fill: #BFBFBF;
}
.blockedItem img{
   filter: blur(10px);
}
.item__img{
   position: relative;
}
.blockedItem::after{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 24px;
   height: 24px;
   background-image: url(../../../img/citySecrets/items/blocked.png);
   transform: translate(-50%, -50%);
}



@media(max-width: 1300px){
   .citySecrets__column img{
      width: 100%;
      height: auto;
   }
}

@media(max-width: 1020px){
   .citySecrets__title h2{
      margin-top: 25px;
   }
}

@media(max-width: 750px){
   .citySecrets__items{
      display: block;
   }
   .citySecrets__column{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
   }
   .citySecrets__item{
      width: 32%;
      margin-right: 5px;
   }
   .citySecrets__item img{
      width: unset;
      height: unset;
   }
}

@media(max-width: 500px){
   .citySecrets__item{
      width: 48%;
      margin-right: 5px;
   }
}

@media(max-width: 450px){
   .citySecrets__title h2{
      font-size: 24px;
   }
}