.cityEvents{
   flex: 1;
}
.cityEvents__top{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.top__title h2{
   font-size: 40px;
   font-weight: 500;
}
.top__selectMenu{
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   padding: 0 15px;
   height: 30px;
   background-color: #fff;
   border-radius: 6px;
   cursor: pointer;
}
.top__selectMenu p{
   font-size: 14px;
   font-weight: 400;
}
.top__selectMenu span{
   margin-bottom: 4px;
   margin-left: 7px;
}
.cityEvents__items{
   margin-top: 30px;
}
.cityEvents__item{
   display: flex;
   background-color: #FAFAFA;
   border-radius: 12px;
   padding: 32px;
   margin-bottom: 25px;
}
.cityEvents__item:last-child{
   margin-bottom: 0;
}
.item__info{
   margin-left: 32px;
}
.info__header{
   display: flex;
   justify-content: space-between;
}
.info__header span{
   color: #8C8C8C;
   font-size: 16px;
   font-weight: 500;
}
.info__title{
   margin-top: 5px;
}
.info__title h3{
   font-size: 28px;
   font-weight: 600;
}
.info__text{
   margin-top: 8px;
}
.info__text p{
   color: #8C8C8C;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}
.aboutEvent{
   display: flex;
   margin-top: 25px;
}
.leader,.dateOfEvent{
   width: 50%;
}
.leader p, .leader__name p, .leader__gold p, .dateOfEvent p{
   font-size: 16px;
   font-weight: 500;
}
.leader__avatar{
   margin-right: 15px;
   position: relative;
}
.leader__avatarOnline::after{
   position: absolute;
   content: '';
   top: -2px;;
   right: -2px;
   width: 8px;
   height: 8px;
   background-image: url(../../img/cityEvents/online.png);
}
.leader__gold{
   display: flex;
   align-items: center;
}
.leader__gold p{
   margin-left: 5px;
   color: #096DD9;
}
.leader__info{
   display: flex;
   margin-top: 15px;
   align-items: center;
}
.dateOfEvent p:nth-child(2){
   margin-top: 15px;
}
.item__ticket{
   display: flex;
   margin-top: 40px;
   align-items: center;
}
.item__ticket p{
   font-size: 28px;
   font-weight: 500;
}
.item__ticket button{
   margin-left:15px;
   font-size: 16px;
   font-weight: 400;
   border: none;
   border-radius: 6px;
   background-color: #1890FF;
   color: #fff;
   height: 40px;
   padding: 0 25px;
   cursor: pointer;
}
.item__ticket button:active{
   transform: translateY(2px);
}
.item__img,.leader__avatar,.leader__gold img{
   user-select: none;
}



@media(hover: hover) and (pointer: fine){
   .item__ticket button:hover{
      background-color: #85b5ec;
   }
}


@media(max-width: 1020px){
   .cityEvents{
      margin-top: 25px;
   }
}

@media(max-width: 750px){
   .cityEvents__item{
      display: block;
   }
   .cityEvents__item .item__img{
      text-align: center;
      margin-bottom: 20px;
   }
   .cityEvents__item .item__info{
      margin-left: 0;
   }
}

@media(max-width: 600px){
   .info__title h3{
      font-size: 22px;
   }
   .info__title p, .leader p, .dateOfEvent p, .info__header span{
      font-size: 14px;
   }
}

@media(max-width: 550px){
   .cityEvents__item{
      padding: 25px 15px;
   }
}

@media(max-width: 500px){
   .header .text h2{
      font-size: 25px;
   }
   .item__ticket button{
      font-size: 14px;
   }
}

@media(max-width: 450px){
   .top__title h2{
      font-size: 24px;
   }
   .item__ticket p{
      font-size: 22px;
   }
   .leader__name{
      margin-right: 5px;
   }
   .leader__avatar{
      margin-right: 10px;
   }
}
