*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
}
body{
   background-color: #f0f2f5;
}
.headerWrapper{
   max-width: 1392px;
   padding: 0 83px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 240px;
}
.header{
   height: 240px;
   background-image: url(../../img/header/headerBg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.usersInfo{
   display: flex;
}
.logo{
   margin-right: 32px;
   user-select: none;
}
.text{
   margin-top: 5px;
}
.text h2{
   font-size: 40px;
   font-weight: 500;
   color: #fff;
}
.text p{
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   margin-top: 5px;
}
.headerBtns{
   display: flex;
}
.headerBtn1{
   width: fit-content;
   padding: 0 17px;
   height: 40px;
   border-radius: 6px;
   border: none;
   background-color: #fff;
   cursor: pointer;
   font-size: 16px;
   font-weight: 400;
   display: flex;
   align-items: center;
   margin-right: 15px;
   user-select: none;
}
.headerBtn2{
   width: fit-content;
   padding: 0 36px;
   height: 40px;
   border-radius: 6px;
   border: none;
   background-color: #FF4D4F;
   cursor: pointer;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   user-select: none;
}
.headerBtn1:active,.headerBtn2:active{
   transform: translateY(2px);
}
.btnLogo{
   margin-top: 4px;
   margin-right: 6px;
   display: block;
}

.content{
   max-width: 1392px;
   padding: 0 83px;
   margin: 0 auto;
   margin-top: 40px;
   display: flex;
   padding-bottom: 50px;
}
.menuNav{
   width: 25%;
   margin-right: 20px;
}
.menuNav__item{
   display: flex;
   padding-left: 20px;
   align-items: center;
   height: 60px;
   cursor: pointer;
}
.activeMenuNavItem{
   border-left: 2px solid #1890FF;
   padding-left: 17px;
}
.activeMenuNavItem .menuNav__text a{
   color:#1890FF
}
.activeMenuNavItem svg path{
   fill: #1890FF;
}
.menuNav__text{
   padding-bottom: 2px;
}
.menuNav__text a{
   text-decoration: none;
   color: #000;
   margin-left: 12px;
   font-size: 18px;
   font-weight: 500;
}
.cityEvents{
   flex: 1;
}
.cityEvents__top{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.top__title h2{
   font-size: 40px;
   font-weight: 500;
}
.top__selectMenu{
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   padding: 0 15px;
   height: 30px;
   background-color: #fff;
   border-radius: 6px;
   cursor: pointer;
}
.top__selectMenu p{
   font-size: 14px;
   font-weight: 400;
}
.top__selectMenu span{
   margin-bottom: 4px;
   margin-left: 7px;
}
.cityEvents__items{
   margin-top: 30px;
}
.cityEvents__item{
   display: flex;
   background-color: #FAFAFA;
   border-radius: 12px;
   padding: 32px;
   margin-bottom: 25px;
}
.cityEvents__item:last-child{
   margin-bottom: 0;
}
.item__info{
   margin-left: 32px;
}
.info__header{
   display: flex;
   justify-content: space-between;
}
.info__header span{
   color: #8C8C8C;
   font-size: 16px;
   font-weight: 500;
}
.info__title{
   margin-top: 5px;
}
.info__title h3{
   font-size: 28px;
   font-weight: 600;
}
.info__text{
   margin-top: 8px;
}
.info__text p{
   color: #8C8C8C;
   font-size: 16px;
   font-weight: 400;
}
.aboutEvent{
   display: flex;
   margin-top: 25px;
}
.leader,.dateOfEvent{
   width: 50%;
}
.leader p, .leader__name p, .leader__gold p, .dateOfEvent p{
   font-size: 16px;
   font-weight: 500;
}
.leader__avatar{
   margin-right: 15px;
   position: relative;
}
.leader__avatarOnline::after{
   position: absolute;
   content: '';
   top: -2px;;
   right: -2px;
   width: 8px;
   height: 8px;
   background-image: url(../../img/cityEvents/online.png);
}
.leader__gold{
   display: flex;
   align-items: center;
}
.leader__gold p{
   margin-left: 5px;
   color: #096DD9;
}
.leader__info{
   display: flex;
   margin-top: 15px;
   align-items: center;
}
.dateOfEvent p:nth-child(2){
   margin-top: 15px;
}
.item__ticket{
   display: flex;
   margin-top: 40px;
   align-items: center;
}
.item__ticket p{
   font-size: 28px;
   font-weight: 500;
}
.item__ticket button{
   margin-left:15px;
   font-size: 16px;
   font-weight: 400;
   border: none;
   border-radius: 6px;
   background-color: #1890FF;
   color: #fff;
   height: 40px;
   padding: 0 25px;
   cursor: pointer;
}
.item__ticket button:active{
   transform: translateY(2px);
}
.item__img,.leader__avatar,.leader__gold img{
   user-select: none;
}



@media(hover: hover) and (pointer: fine){
   .headerBtn1:hover svg path{
      fill: #fff;
   }
   .headerBtn1:hover{
      color: #fff;
      background-color:#1890FF;
   }
   .headerBtn2:hover{
      background-color: #F08080;
   }
   .menuNav__item:hover .menuNav__text a{
      color: #1890FF;
   }
   .menuNav__item:hover .menuNav__icon svg path{
      fill: #1890FF;
   }
   .item__ticket button:hover{
      background-color: #85b5ec;
   }
}

@media(max-width: 1100px){
   .headerWrapper, .content{
      padding: 0 50px;
   }
}

@media(max-width: 1020px){
   .content{
      display: block;
   }
   .menuNav{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
   }
   .menuNav__item{
      padding-left: 0;
      margin-right: 20px;
   }
   .activeMenuNavItem{
      border-left: none;
      padding-left: 0;
      border-bottom: 2px solid #1890FF;
   }
   .cityEvents{
      margin-top: 25px;
   }
}

@media(max-width: 970px){
   .headerBtns{
      display: block;
      text-align: end;
   }
   .headerBtn1{
      margin-right: 0;
      margin-bottom: 15px;
   }
}
@media(max-width: 850px){
   .header .text h2{
      font-size: 30px;
   }
   .header .logo{
      margin-right: 20px;
   }
   .usersInfo{
      align-items: center;
   }
   .header .text{
      margin-top: 0;
      margin-bottom: 5px;
   }
}

@media(max-width: 750px){
   .headerWrapper, .content{
      padding: 0 25px;
   }
   .cityEvents__item{
      display: block;
   }
   .cityEvents__item .item__img{
      text-align: center;
      margin-bottom: 20px;
   }
   .cityEvents__item .item__info{
      margin-left: 0;
   }
}

@media(max-width: 700px){
   .headerWrapper{
      flex-direction: column;
      justify-content: center;
   }
   .headerBtns{
      text-align: unset;
      display: flex;
      margin-top: 15px;
   }
   .headerBtn1{
      margin-right: 15px;
   }
}
@media(max-width: 600px){
   .info__title h3{
      font-size: 22px;
   }
   .info__title p, .leader p, .dateOfEvent p, .info__header span{
      font-size: 14px;
   }
}
@media(max-width: 550px){
   .cityEvents__item{
      padding: 25px 15px;
   }
}
@media(max-width: 500px){
   .header .text h2{
      font-size: 25px;
   }
   .header .text p, .item__ticket button, .headerBtn1, .headerBtn2, .menuNav__text a{
      font-size: 14px;
   }
   .header .logo{
      margin-right: 10px;
   }
   .headerWrapper, .content{
      padding: 0 10px;
   }
}
@media(max-width: 450px){
   .top__title h2{
      font-size: 24px;
   }
   .item__ticket p{
      font-size: 22px;
   }
   .leader__name{
      margin-right: 5px;
   }
   .leader__avatar{
      margin-right: 10px;
   }
}
@media(max-width: 400px){
   .header .text{
      text-align: center;
   }
   .headerBtn1, .headerBtn2{
      padding: 0 15px;
   }
}