.cart{
   max-width: 1392px;
   padding: 0 83px;
   margin: 0 auto;
   margin-top: 40px;
}
.tableNames{
   display: flex;
   border-bottom: 1px solid #D9D9D9;
   padding-bottom: 12px;
   margin-top: 32px;
}
.tableName{
   font-size: 16px;
   font-weight: 500;
   color: #8C8C8C;
  
}
.tableNames__left, .tableNames__right, .cartItem__left, .cartItem__right{
   display: flex;
   width: 50%;
}
.tableName1, .cartItem__logo{
   width: 40%;
}
.tableName2, .cartItem__name{
   flex: 1;
   padding: 0 20px;
}
.tableNames__right .tableName, .cartItem__amount, .cartItem__price, .cartItem__sum{
   width: 33%;
}
.cartItem{
   display: flex;
   margin-top: 25px;
   padding-bottom: 25px;
   border-bottom: 1px solid #D9D9D9;
}

.cartItem__logo{
   user-select: none;
}
.cartItem__logo img{
   width: 100%;
   height: 100%;
}

.cartItem__name p{
   font-size: 20px;
   font-weight: 500;
}
.cartItem__name span{
   display: block;
   font-size: 14px;
   font-weight: 400;
   margin-top: 12px;
   color: #FF4D4F;
   cursor: pointer;
   width: fit-content;
   user-select:none;
}
.cartItem__name span:active{
   transform: translateY(2px);
}
.cartItem__amount span{
   font-size: 16px;
   font-weight: 500;
   margin: 0 12px;
}
.amountBtn{
   width: 40px;
   height: 40px;
   border-radius: 6px;
   border:none;
   background-color: #1890FF;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   user-select: none;
   cursor: pointer;
}
.amountBtn:active{
   transform: translateY(2px);
}
.cartItem__price span, .cartItem__sum span{
   font-size: 28px;
   font-weight: 500;
}
.total{
   margin-top: 25px;
   display: flex;
   justify-content: flex-end;
   margin-bottom: 70px;
   align-items: center;
}
.total p{
   font-size: 28px;
   font-weight: 500;
}
.total span{
   color: #1890FF;
}
.total button{
   padding: 0 25px;
   height: 40px;
   background-color: #1890FF;
   border-radius: 6px;
   border: none;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   margin-left: 25px;
   user-select: none;
   cursor: pointer;
}
.total button:active{
   transform: translateY(2px);
}


@media(hover: hover) and (pointer: fine){
   .cartItem__name span:hover{
      color: #F08080;
   }
   .amountBtn:hover{
      background-color: #85b5ec;
   }
   .total button:hover{
      background-color: #85b5ec;
   }
}



@media(max-width: 1150px){
   .cartItem__price span, .cartItem__sum span{
      font-size: 20px;
   }
   .cartItem__amount span{
      margin: 0;
   }
}
@media(max-width: 1100px){
   .cart{
      padding: 0 50px;
   }
}
@media(max-width: 970px){
   .tableNames{
      display: none;
   }
   .cartItem{
      display: block;
   }
   .cartItem__right{
      margin-top: 20px;
      align-items: center;
   }
   .cartItem__price{
      display: none;
   }
   .cartItem__amount{
      width: 40%;
      text-align: center;
   }
   .cartItem__sum{
      width: 60%;
      padding-left: 20px;
   }
   .cartItem__left, .cartItem__right{
      width: 100%;
   }
   .cartItem__name{
      padding: 0;
      padding-left: 20px;
   }
}


@media(max-width: 750px){
   .cart{
      padding: 0 25px;
   }
}

@media(max-width: 700px){
   .total p{
      font-size: 20px;
   }
}

@media(max-width: 500px){
   .cart{
      padding: 0 10px;
   }
   .amountBtn{
      width: 25px;
      height: 25px;
   }
   .cartItem__name p{
      font-size: 16px;
   }
   .cartItem__sum span{
      font-size: 18px;
   }
}
@media(max-width: 450px){
   .title h1{
      font-size: 24px;
   }
}

@media(max-width: 350px){
   .total p{
      word-break: break-all;
   }
}