.cityPubl{
   flex: 1;
}
.cityPubl__title h2{
   font-size: 40px;
   font-weight: 500;
}
.cityPubl__items{
   display: flex;
   flex-wrap: wrap;
   margin-top: 30px;
}

.cityPubl__item{
   width: 30%;
   height: 274px;
   border-radius: 12px;
   margin-right: 20px;
   margin-bottom: 20px;
   padding: 32px;
   cursor: pointer;
   transition: transform 0.1s ease-in-out;
}
.cityPubl__item:nth-child(3n+3){
   margin-right: 0;
}
.itemText{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    text-align:end;
}
.itemText p{
   font-size: 28px;
    font-weight: 500;
    color: #fff;
}
.cityPubl__item:first-child{
   background-color: #722ED1;
}
.cityPubl__item:nth-child(2){
   background-color: #FA541C;
}
.cityPubl__item:nth-child(3){
   background-color: #C41D7F;
}
.cityPubl__item:nth-child(4){
   background-color: #52C41A;
}
.cityPubl__item:nth-child(5){
   background-color: #096DD9;
}



@media(hover: hover) and (pointer: fine){
   .cityPubl__item:hover{
      transform: translateY(-3px);
   }
}

@media(max-width: 1200px){
   .cityPubl__item{
      height: 250px;
   }
}

@media(max-width: 1020px){
   .cityPubl__item{
      height: 274px;
   }
   .cityPubl{
      margin-top: 25px;
   }
}

@media(max-width: 900px){
   .cityPubl__item{
      height: 250px;
   }
}

@media(max-width: 750px){
   .cityPubl__item{
      width: 47%;
   }
   .cityPubl__item:nth-child(3n+3){
      margin-right: 20px;
   }
   .cityPubl__item:nth-child(2n+2){
      margin-right: 0;
   }
}

@media(max-width: 500px){
   .cityPubl__item{
      width: 100%;
      margin-right: 0;
      height: 274px
   }
   .cityPubl__item:nth-child(3n+3){
      margin-right: 0;
   }
}
@media(max-width: 450px){
   .cityPubl__title h2{
      font-size: 30px;
   }
}
