*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
}
body{
   background-color: #f0f2f5;
}
.headerWrapper{
   max-width: 1392px;
   padding: 0 83px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 240px;
}
.header{
   height: 240px;
   background-image: url(../../../img/header/headerBg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.usersInfo{
   display: flex;
}
.logo{
   margin-right: 32px;
   user-select: none;
}
.text{
   margin-top: 5px;
}
.text h2{
   font-size: 40px;
   font-weight: 500;
   color: #fff;
}
.text p{
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   margin-top: 5px;
}
.headerBtns{
   display: flex;
}
.headerBtn1{
   width: fit-content;
   padding: 0 17px;
   height: 40px;
   border-radius: 6px;
   border: none;
   background-color: #fff;
   cursor: pointer;
   font-size: 16px;
   font-weight: 400;
   display: flex;
   align-items: center;
   margin-right: 15px;
   user-select: none;
}
.headerBtn1Block{
   position: relative;
}
.notification{
   width: 400px;
   height: 210px;
   background-color: #fff;
   border-radius: 12px;
   position: absolute;
   top: 55px;
   right: 12px;
   box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
   padding: 32px 32px 24px 72px;
   display: flex;
   flex-direction: column;
}

.notification h3{
   font-size: 16px;
   font-weight: 600;
   position: relative;
}
.notification h3::before{
   content:'';
   width: 24px;
   height: 24px;
   position: absolute;
   top: -2px;
   left: -35px;
   background-image: url(../../../img/header/cartCheck.png);
}
.notification p{
   font-size: 14px;
   font-weight: 400;
   margin-top: 10px;
}
.notificationBtn{
   flex: 1;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   margin-left: auto;
}
.notification button{
   width: 51px;
   height: 32px;
   background-color: #1890FF;
   border: none;
   border-radius: 2px;
   font-size: 14px;
   font-weight: 400;
   color: #fff;
   user-select: none;
   cursor: pointer;
}
.notification button:active{
   transform: translateY(2px);
}
.headerBtn2{
   width: fit-content;
   padding: 0 36px;
   height: 40px;
   border-radius: 6px;
   border: none;
   background-color: #FF4D4F;
   cursor: pointer;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   user-select: none;
}
.headerBtn1:active,.headerBtn2:active{
   transform: translateY(2px);
}
.btnLogo{
   margin-top: 4px;
   margin-right: 6px;
   display: block;
}
.cart{
   max-width: 1392px;
   padding: 0 83px;
   margin: 0 auto;
   margin-top: 40px;
}
.tableNames{
   display: flex;
   border-bottom: 1px solid #D9D9D9;
   padding-bottom: 12px;
   margin-top: 32px;
}
.tableName{
   font-size: 16px;
   font-weight: 500;
   color: #8C8C8C;
  
}
.tableNames__left, .tableNames__right, .cartItem__left, .cartItem__right{
   display: flex;
   width: 50%;
}
.tableName1, .cartItem__logo{
   width: 40%;
}
.tableName2, .cartItem__name{
   flex: 1;
   padding: 0 20px;
}
.tableNames__right .tableName, .cartItem__amount, .cartItem__price, .cartItem__sum{
   width: 33%;
}
.cartItem{
   display: flex;
   margin-top: 25px;
   padding-bottom: 25px;
   border-bottom: 1px solid #D9D9D9;
}

.cartItem__logo{
   user-select: none;
}
.cartItem__logo img{
   width: 100%;
   height: 100%;
}

.cartItem__name p{
   font-size: 20px;
   font-weight: 500;
}
.cartItem__name span{
   display: block;
   font-size: 14px;
   font-weight: 400;
   margin-top: 12px;
   color: #FF4D4F;
   cursor: pointer;
   width: fit-content;
   user-select:none;
}
.cartItem__name span:active{
   transform: translateY(2px);
}
.cartItem__amount span{
   font-size: 16px;
   font-weight: 500;
   margin: 0 12px;
}
.amountBtn{
   width: 40px;
   height: 40px;
   border-radius: 6px;
   border:none;
   background-color: #1890FF;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   user-select: none;
   cursor: pointer;
}
.amountBtn:active{
   transform: translateY(2px);
}
.cartItem__price span, .cartItem__sum span{
   font-size: 28px;
   font-weight: 500;
}
.total{
   margin-top: 25px;
   display: flex;
   justify-content: flex-end;
   margin-bottom: 70px;
   align-items: center;
}
.total p{
   font-size: 28px;
   font-weight: 500;
}
.total span{
   color: #1890FF;
}
.total button{
   width: 166px;
   height: 40px;
   background-color: #1890FF;
   border-radius: 6px;
   border: none;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   margin-left: 25px;
   user-select: none;
   cursor: pointer;
}
.total button:active{
   transform: translateY(2px);
}


@media(hover: hover) and (pointer: fine){
   .headerBtn1:hover svg path{
      fill: #fff;
   }
   .headerBtn1:hover{
      color: #fff;
      background-color:#1890FF;
   }
   .headerBtn2:hover{
      background-color: #F08080;
   }
   .cartItem__name span:hover{
      color: #F08080;
   }
   .amountBtn:hover{
      background-color: #85b5ec;
   }
   .total button:hover{
      background-color: #85b5ec;
   }
   .notification button:hover{
      background-color: #85b5ec;
   }
}



@media(max-width: 1150px){
   .cartItem__price span, .cartItem__sum span{
      font-size: 20px;
   }
   .cartItem__amount span{
      margin: 0;
   }
}
@media(max-width: 1100px){
   .headerWrapper, .cart{
      padding: 0 50px;
   }
}
@media(max-width: 970px){
   .headerBtns{
      display: block;
      text-align: end;
   }
   .headerBtn1{
      margin-right: 0;
      margin-bottom: 15px;
   }
   .tableNames{
      display: none;
   }
   .cartItem{
      display: block;
   }
   .cartItem__right{
      margin-top: 20px;
      align-items: center;
   }
   .cartItem__price{
      display: none;
   }
   .cartItem__amount{
      width: 40%;
      text-align: center;
   }
   .cartItem__sum{
      width: 60%;
      padding-left: 20px;
   }
   .cartItem__left, .cartItem__right{
      width: 100%;
   }
   .cartItem__name{
      padding: 0;
      padding-left: 20px;
   }
   .notification{
      text-align: start;
      right: 0;
   }
}
@media(max-width: 850px){
   .header .text h2{
      font-size: 30px;
   }
   .header .logo{
      margin-right: 20px;
   }
   .usersInfo{
      align-items: center;
   }
   .header .text{
      margin-top: 0;
      margin-bottom: 5px;
   }
}

@media(max-width: 750px){
   .headerWrapper, .cart{
      padding: 0 25px;
   }
}

@media(max-width: 700px){
   .headerWrapper{
      flex-direction: column;
      justify-content: center;
   }
   .headerBtns{
      text-align: unset;
      display: flex;
      margin-top: 15px;
   }
   .headerBtn1{
      margin-right: 15px;
   }
   .total p{
      font-size: 20px;
   }
   .notification {
      right: unset;
      left: -10px;
  }
}

@media(max-width: 500px){
   .header .text h2{
      font-size: 25px;
   }
   .headerBtn1, .headerBtn2, .header .text p {
      font-size: 14px;
   }
   .header .logo{
      margin-right: 10px;
   }
   .headerWrapper, .cart{
      padding: 0 10px;
   }
   .amountBtn{
      width: 25px;
      height: 25px;
   }
   .cartItem__name p{
      font-size: 16px;
   }
   .cartItem__sum span{
      font-size: 18px;
   }
   .notification {
      padding: 15px 20px;
      width: 350px;
      text-align: center;
  }
  .notification h3{
   width: fit-content;
   margin: 0 auto;
   margin-bottom: 5px;
}
}
@media(max-width: 450px){
   .title h1{
      font-size: 24px;
   }
}
@media(max-width: 400px){
   .header .text{
      text-align: center;
   }
   .headerBtn1, .headerBtn2{
      padding: 0 15px;
   }
   .notification h3::before{
      left:unset;
      right: -30px;
   }
   .notification{
      text-align: unset;
      width: 290px;
   }
   .notification h3{
      margin: 0;
   }
   .notificationBtn{
      margin-left: 0;
   }
}

@media(max-width: 350px){
   .total p{
      word-break: break-all;
   }
}