*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
}
body{
   background-image: url(../../img/start/bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100vw;
   height: 100vh;
}
.wrapper{
   display: flex;
   justify-content: space-between;
   max-width: 1392px;
   margin: 0 auto;
   align-items: center;
   width: 100vw;
   height: 100vh;
   padding: 0 100px;
}
.text{
   max-width: 600px;
}
.text h2{
   font-size: 40px;
   font-weight: 600;
   color: #fff;
   margin-bottom: 24px;
}
.text p{
   font-size: 16px;
   font-weight: 400;
   color: #fff;
}
.btns{
   margin-top: 50px;
   user-select: none;
}
.btn1{
   width:204px;
   height: 56px;
   margin-right: 25px;
   border: none;
   color: #fff;
   background-color: #1890FF;
   border-radius: 8px;
   font-size: 16px;
   font-weight: 400;
   cursor: pointer;
}
.btn2{
   width:164px;
   height: 56px;
   border: none;
   color: #000;
   background-color: #fff;
   border-radius: 8px;
   font-size: 16px;
   font-weight: 400;
   cursor: pointer;
}
.btn1:active,.btn2:active{
   transform: translateY(2px);
}
.logo{
   height:auto;
   width:20%;
   max-width: 175px;
   margin-right: 50px;
   user-select: none;
}
.logo img{
   width:100%;
   height:100%;
}

@media(hover: hover) and (pointer: fine){
   .btn1:hover{
      background-color: #fff;
      color:#1890FF;
   }
   .btn2:hover{
      background-color: #1890FF;
      color:#fff;
   }
}

@media(max-width: 1010px){
   .logo{
      margin-right: 0;
   }
   .wrapper{
      padding: 0 50px;
   }
}

@media(max-width: 850px){
   .text h2{
      font-size: 35px;
      margin-bottom: 20px;
   }
}

@media(max-width: 750px){
   .wrapper{
      display: block;
      padding-top:75px;
   }
   .logo{
      margin: 0 auto;
      margin-top: 20px;
      height: 150px;
      width: 100px;
   }
   .text h2{
      font-size: 30px;
      margin-bottom: 20px;
   }
}

@media(max-width: 550px){
   .logo{
      margin: 0 auto;
      margin-top: 20px;
   }
   .wrapper{
      padding: 0 15px;
      padding-top: 50px;
   }
}

@media(max-width: 450px){
   .btns{
      margin-top: 30px;
   }
   .btn1{
      width: 160px;
      height: 50px;
      margin-right: 10px;
   }
   .btn2{
      width: 120px;
      height: 50px;
   }
}

@media(max-width: 400px){
   .text h2{
      font-size: 25px;
      margin-bottom: 20px;
   }
   .btn1{
      width: 145px;
   }
}

