*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
}
body{
   background-color: #f0f2f5;
}
html,body{
   overflow: hidden;
}
.headerWrapper{
   max-width: 1392px;
   padding: 0 83px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 240px;
}
.header{
   height: 240px;
   background-image: url(../../../img/header/headerBg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.usersInfo{
   display: flex;
}
.logo{
   margin-right: 32px;
   user-select: none;
}
.text{
   margin-top: 5px;
}
.text h2{
   font-size: 40px;
   font-weight: 500;
   color: #fff;
}
.text p{
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   margin-top: 5px;
}
.headerBtns{
   display: flex;
}
.headerBtn1{
   width: fit-content;
   padding: 0 17px;
   height: 40px;
   border-radius: 6px;
   border: none;
   background-color: #fff;
   cursor: pointer;
   font-size: 16px;
   font-weight: 400;
   display: flex;
   align-items: center;
   margin-right: 15px;
   user-select: none;
}
.headerBtn2{
   width: fit-content;
   padding: 0 36px;
   height: 40px;
   border-radius: 6px;
   border: none;
   background-color: #FF4D4F;
   cursor: pointer;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   user-select: none;
}
.headerBtn1:active,.headerBtn2:active{
   transform: translateY(2px);
}
.btnLogo{
   margin-top: 4px;
   margin-right: 6px;
   display: block;
}

.content{
   max-width: 1392px;
   padding: 0 83px;
   margin: 0 auto;
   margin-top: 40px;
   display: flex;
   padding-bottom: 50px;
}
.menuNav{
   width: 25%;
   margin-right: 20px;
}
.menuNav__item{
   display: flex;
   padding-left: 20px;
   align-items: center;
   height: 60px;
   cursor: pointer;
}
.activeMenuNavItem{
   border-left: 2px solid #1890FF;
   padding-left: 17px;
}
.activeMenuNavItem .menuNav__text a{
   color:#1890FF
}
.activeMenuNavItem svg path{
   fill: #1890FF;
}
.menuNav__text{
   padding-bottom: 2px;
}
.menuNav__text a{
   text-decoration: none;
   color: #000;
   margin-left: 12px;
   font-size: 18px;
   font-weight: 500;
}
.citySecrets{
   flex: 1;
}
.citySecrets__title h2{
   font-size: 40px;
   font-weight: 500;
}
.citySecrets__items{
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
}
.citySecrets__column{
   width: 18%;
}
.citySecrets__item{
   text-align: center;
   margin-bottom: 30px;
   height: 235px;
}
.citySecrets__item img{
   user-select: none;
}
.item__text{
   max-width: 100px;
   margin: 0 auto;
   margin-top: 15px;
}
.citySecrets__item p{
   font-size: 16px;
   font-weight: 600; 
}
.item__gold{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5px;
}
.item__gold p{
   margin-left: 5px;
   font-weight: 500;
   color: #096DD9;
}
.disabledItem img{
   opacity: 0.2
}
.disabledItem p{
   color: #BFBFBF;
}
.disabledItem svg path{
   fill: #BFBFBF;
}
.blockedItem img{
   filter: blur(10px);
}
.item__img{
   position: relative;
}
.blockedItem::after{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 24px;
   height: 24px;
   background-image: url(../../../img/citySecrets/items/blocked.png);
   transform: translate(-50%, -50%);
}
.wrapper{
   background: rgba(0,0,0,0.5);
   filter: brightness(0.5) blur(10px);
   outline: solid 20px
}
.overlay{
   position: absolute;
   z-index: 1000;
   width: 100%;
   height: 100vh;
}
.citySecrets__notification{
   width: 550px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.citySecrets__notification img{
   user-select: none;
   width: 100%;
   height: auto;
}
.citySecrets__notification::after{
   content: '';
   position: absolute;
   background-image: url(../../../img/citySecrets/X.png);
   background-repeat: no-repeat;
   background-position: center;
   width: 30px;
   height: 30px;
   top: -35px;
   right: -35px;
   cursor: pointer;
}

.notification__text{
   padding: 24px;
   background-color: #fff;
}
.notification__text p{
   font-size: 20px;
   font-weight: 500;
}
.text__rating{
   color: #8C8C8C;
   margin-top: 15px;
}

@media(hover: hover) and (pointer: fine){
   .headerBtn1:hover svg path{
      fill: #fff;
   }
   .headerBtn1:hover{
      color: #fff;
      background-color:#1890FF;
   }
   .headerBtn2:hover{
      background-color: #F08080;
   }
   .menuNav__item:hover .menuNav__text a{
      color: #1890FF;
   }
   .menuNav__item:hover .menuNav__icon svg path{
      fill: #1890FF;
   }
}


@media(max-width: 1300px){
   .citySecrets__column img{
      width: 100%;
      height: auto;
   }
}
@media(max-width: 1100px){
   .headerWrapper, .content{
      padding: 0 50px;
   }
}

@media(max-width: 1020px){
   .content{
      display: block;
   }
   .menuNav{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
   }
   .menuNav__item{
      padding-left: 0;
      margin-right: 20px;
   }
   .activeMenuNavItem{
      border-left: none;
      padding-left: 0;
      border-bottom: 2px solid #1890FF;
   }
   .citySecrets__title h2{
      margin-top: 25px;
   }
}

@media(max-width: 970px){
   .headerBtns{
      display: block;
      text-align: end;
   }
   .headerBtn1{
      margin-right: 0;
      margin-bottom: 15px;
   }
}
@media(max-width: 850px){
   .header .text h2{
      font-size: 30px;
   }
   .header .logo{
      margin-right: 20px;
   }
   .usersInfo{
      align-items: center;
   }
   .header .text{
      margin-top: 0;
      margin-bottom: 5px;
   }
}

@media(max-width: 750px){
   .headerWrapper, .content{
      padding: 0 25px;
   }
   .citySecrets__items{
      display: block;
   }
   .citySecrets__column{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
   }
   .citySecrets__item{
      width: 32%;
      margin-right: 5px;
   }
   .citySecrets__item img{
      width: unset;
      height: unset;
   }
   .citySecrets__notification{
      width: 400px;
   }
}

@media(max-width: 700px){
   .headerWrapper{
      flex-direction: column;
      justify-content: center;
   }
   .headerBtns{
      text-align: unset;
      display: flex;
      margin-top: 15px;
   }
   .headerBtn1{
      margin-right: 15px;
   }
}

@media(max-width: 500px){
   .header .text h2{
      font-size: 25px;
   }
   .headerBtn1, .headerBtn2, .menuNav__text a, .header .text p {
      font-size: 14px;
   }
   .header .logo{
      margin-right: 10px;
   }
   .headerWrapper, .content{
      padding: 0 10px;
   }
   .citySecrets__item{
      width: 48%;
      margin-right: 5px;
   }
   .citySecrets__notification{
      width: 350px;
   }
   .citySecrets__notification::after{
      top: 5px;
      right: 5px;
   }
}
@media(max-width: 450px){
   .citySecrets__title h2{
      font-size: 24px;
   }
}
@media(max-width: 400px){
   .header .text{
      text-align: center;
   }
   .headerBtn1, .headerBtn2{
      padding: 0 15px;
   }
   .citySecrets__notification{
      width: 300px;
   }
}