html,body{
   overflow: hidden;
}
.citySecrets{
   flex: 1;
}
.citySecrets__title h2{
   font-size: 40px;
   font-weight: 500;
}
.citySecrets__items{
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
}
.citySecrets__column{
   width: 18%;
}
.citySecrets__item{
   text-align: center;
   margin-bottom: 30px;
   height: 235px;
}
.citySecrets__item img{
   user-select: none;
}
.item__text{
   max-width: 100px;
   margin: 0 auto;
   margin-top: 15px;
}
.citySecrets__item p{
   font-size: 16px;
   font-weight: 600; 
}
.item__gold{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5px;
}
.item__gold p{
   margin-left: 5px;
   font-weight: 500;
   color: #096DD9;
}
.disabledItem img{
   opacity: 0.2
}
.disabledItem p{
   color: #BFBFBF;
}
.disabledItem svg path{
   fill: #BFBFBF;
}
.blockedItem img{
   filter: blur(10px);
}
.item__img{
   position: relative;
}
.blockedItem::after{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 24px;
   height: 24px;
   background-image: url(../../../img/citySecrets/items/blocked.png);
   transform: translate(-50%, -50%);
}
.wrapper{
   background: rgba(0,0,0,0.5);
   filter: brightness(0.5) blur(10px);
   outline: solid 20px
}
.overlay{
   position: absolute;
   z-index: 1000;
   width: 100%;
   height: 100vh;
}
.citySecrets__notification{
   width: 550px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.citySecrets__notification img{
   user-select: none;
   width: 100%;
   height: auto;
}
.citySecrets__notification::after{
   content: '';
   position: absolute;
   background-image: url(../../../img/citySecrets/X.png);
   background-repeat: no-repeat;
   background-position: center;
   width: 30px;
   height: 30px;
   top: -35px;
   right: -35px;
   cursor: pointer;
}

.notification__text{
   padding: 24px;
   background-color: #fff;
}
.notification__text p{
   font-size: 20px;
   font-weight: 500;
}
.text__rating{
   color: #8C8C8C;
   margin-top: 15px;
}



@media(max-width: 1300px){
   .citySecrets__column img{
      width: 100%;
      height: auto;
   }
}

@media(max-width: 1020px){
   .citySecrets__title h2{
      margin-top: 25px;
   }
}

@media(max-width: 750px){
   .citySecrets__items{
      display: block;
   }
   .citySecrets__column{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
   }
   .citySecrets__item{
      width: 32%;
      margin-right: 5px;
   }
   .citySecrets__item img{
      width: unset;
      height: unset;
   }
   .citySecrets__notification{
      width: 400px;
   }
}

@media(max-width: 500px){
   .citySecrets__item{
      width: 48%;
      margin-right: 5px;
   }
   .citySecrets__notification{
      width: 350px;
   }
   .citySecrets__notification::after{
      top: 5px;
      right: 5px;
   }
}

@media(max-width: 450px){
   .citySecrets__title h2{
      font-size: 24px;
   }
}

@media(max-width: 400px){
   .citySecrets__notification{
      width: 300px;
   }
}