*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
}
body{
   background-color: #f0f2f5;
}
html,body{
   overflow: hidden;
}
.headerWrapper{
   max-width: 1392px;
   padding: 0 83px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 240px;
}
.header{
   height: 240px;
   background-image: url(../../../img/header/headerBg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.usersInfo{
   display: flex;
}
.logo{
   margin-right: 32px;
   user-select: none;
}
.text{
   margin-top: 5px;
}
.text h2{
   font-size: 40px;
   font-weight: 500;
   color: #fff;
}
.text p{
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   margin-top: 5px;
}
.headerBtns{
   display: flex;
}
.headerBtn1{
   width: fit-content;
   padding: 0 17px;
   height: 40px;
   border-radius: 6px;
   border: none;
   background-color: #fff;
   cursor: pointer;
   font-size: 16px;
   font-weight: 400;
   display: flex;
   align-items: center;
   margin-right: 15px;
   user-select: none;
}
.headerBtn2{
   width: fit-content;
   padding: 0 36px;
   height: 40px;
   border-radius: 6px;
   border: none;
   background-color: #FF4D4F;
   cursor: pointer;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   user-select: none;
}
.headerBtn1:active,.headerBtn2:active{
   transform: translateY(2px);
}
.btnLogo{
   margin-top: 4px;
   margin-right: 6px;
   display: block;
}

.content{
   max-width: 1392px;
   padding: 0 83px;
   margin: 0 auto;
   margin-top: 40px;
   display: flex;
   padding-bottom: 50px;
}
.menuNav{
   width: 25%;
   margin-right: 20px;
}
.menuNav__item{
   display: flex;
   padding-left: 20px;
   align-items: center;
   height: 60px;
   cursor: pointer;
}
.activeMenuNavItem{
   border-left: 2px solid #1890FF;
   padding-left: 17px;
}
.activeMenuNavItem .menuNav__text a{
   color:#1890FF
}
.activeMenuNavItem svg path{
   fill: #1890FF;
}
.menuNav__text{
   padding-bottom: 2px;
}
.menuNav__text a{
   text-decoration: none;
   color: #000;
   margin-left: 12px;
   font-size: 18px;
   font-weight: 500;
}
.cityRating{
   flex: 1;
}
.cityRating__title h2{
   font-size: 40px;
   font-weight: 500;
}
.cityRating__text{
   margin-top: 25px;
   max-width: 800px;
}
.cityRating__text p{
   font-size: 16px;
   font-weight: 400;
}
.cityRating__items{
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.cityRating__item{
   padding: 12px 25px;
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   border-radius: 8px;
   width: 49%;
   align-items: center;
   margin-bottom: 25px;
}
.aboutUser{
   display: flex;
}
.item__info{
   margin-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.item__info p{
   font-size: 16px;
   font-weight: 500;
}
.item__gold{
   display: flex;
   align-items: center;
   margin-top: 3px;
}
.item__gold p{
   color: #096DD9;
}
.item__aboutBtn button{
   width: 32px;
   height: 32px;
   border-radius: 6px;
   border: none;
   cursor: pointer;
}
.item__aboutBtn button:active{
   transform: translateY(2px);
}
.wrapper{
   background: rgba(0,0,0,0.5);
   filter: brightness(0.5) blur(10px);
   outline: solid 20px
}
.overlay{
   position: absolute;
   z-index: 1000;
   width: 100%;
   height: 100vh;
}
.cityRating__notification{
   width: 650px;
   padding: 24px;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.cityRating__notification h3{
   font-size: 28px;
   font-weight: 500;
}
.tableColumns{
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
}
.column{
   margin-left: 25px;
}
.columnMain{
   flex: 1;
   margin-left: 0;
}
.column p{
   font-size: 20px;
   font-weight: 400;
   line-height: 28px;
}
.column span{
   text-decoration: underline;
}
.column p:first-child{
   margin-bottom: 10px;
   font-size: 12px;
   font-weight: 400;
   color: #8C8C8C;
}
.totalRating{
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
}
.totalRating p{
   font-size: 20px;
   font-weight: 500;
   color: #1890FF;
}
.cityRating__notification::after{
   content: '';
   position: absolute;
   background-image: url(../../../img/citySecrets/X.png);
   background-repeat: no-repeat;
   background-position: center;
   width: 30px;
   height: 30px;
   top: -35px;
   right: -35px;
   cursor: pointer;
}







@media(hover: hover) and (pointer: fine){
   .headerBtn1:hover svg path{
      fill: #fff;
   }
   .headerBtn1:hover{
      color: #fff;
      background-color:#1890FF;
   }
   .headerBtn2:hover{
      background-color: #F08080;
   }
   .menuNav__item:hover .menuNav__text a{
      color: #1890FF;
   }
   .menuNav__item:hover .menuNav__icon svg path{
      fill: #1890FF;
   }
}



@media(max-width: 1150px){
   .aboutUser{
      margin-right: 5px;
   }
   .item__info{
      margin-left: 10px;
   }
}
@media(max-width: 1100px){
   .headerWrapper, .content{
      padding: 0 50px;
   }
}

@media(max-width: 1020px){
   .content{
      display: block;
   }
   .menuNav{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
   }
   .menuNav__item{
      padding-left: 0;
      margin-right: 20px;
   }
   .activeMenuNavItem{
      border-left: none;
      padding-left: 0;
      border-bottom: 2px solid #1890FF;
   }
   .cityRating{
      margin-top: 25px;
      padding-bottom: 30px;
   }
}

@media(max-width: 970px){
   .headerBtns{
      display: block;
      text-align: end;
   }
   .headerBtn1{
      margin-right: 0;
      margin-bottom: 15px;
   }
}
@media(max-width: 850px){
   .header .text h2{
      font-size: 30px;
   }
   .header .logo{
      margin-right: 20px;
   }
   .usersInfo{
      align-items: center;
   }
   .header .text{
      margin-top: 0;
      margin-bottom: 5px;
   }
}

@media(max-width: 750px){
   .headerWrapper, .content{
      padding: 0 25px;
   }
   .cityRating__items{
      display: block;
   }
   .cityRating__item{
      width: 100%;
   }
   .cityRating__notification{
      width: 515px;
   }
   .column{
      margin-left: 10px;
   }
   .columnMain{
      margin-left: 0;
   }
}

@media(max-width: 700px){
   .headerWrapper{
      flex-direction: column;
      justify-content: center;
   }
   .headerBtns{
      text-align: unset;
      display: flex;
      margin-top: 15px;
   }
   .headerBtn1{
      margin-right: 15px;
   }
}
@media(max-width: 600px){
   .cityRating__notification::after{
      top:7px;
      right: 7px;
      background-color: #000;
      border-radius: 5px;
   }
   .cityRating__notification{
      width: 95%;
   }
}
@media(max-width: 500px){
   .header .text h2{
      font-size: 25px;
   }
   .headerBtn1, .headerBtn2, .menuNav__text a, .header .text p {
      font-size: 14px;
   }
   .header .logo{
      margin-right: 10px;
   }
   .headerWrapper, .content{
      padding: 0 10px;
   }
   .column p{
      font-size: 16px;
   }
}
@media(max-width: 450px){
   .cityRating__title h2{
      font-size: 24px;
   }
   .column{
      margin-left: 5px;
   }
   .columnMain{
      margin-left: 0;
   }
   .column p{
      font-size: 14px;
   }
   .cityRating__notification{
      padding: 14px;
   }
   .cityRating__notification h3{
      font-size: 24px;
   }
}
@media(max-width: 400px){
   .header .text{
      text-align: center;
   }
   .headerBtn1, .headerBtn2{
      padding: 0 15px;
   }
   .column p{
      font-size: 12px;
   }
}
@media(max-width: 350px){
   .column{
      text-align: center;
   }
   .columnMain{
      text-align: unset;
   }
   .column p{
      white-space: nowrap;
      font-size: 11px;
   }
}