
html,body{
   overflow: hidden;
}
.cityRating{
   flex: 1;
}
.cityRating__title h2{
   font-size: 40px;
   font-weight: 500;
}
.cityRating__text{
   margin-top: 25px;
   max-width: 800px;
}
.cityRating__text p{
   font-size: 16px;
   font-weight: 400;
}
.cityRating__items{
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.cityRating__item{
   padding: 12px 25px;
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   border-radius: 8px;
   width: 49%;
   align-items: center;
   margin-bottom: 25px;
}
.aboutUser{
   display: flex;
}
.item__info{
   margin-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.item__info p{
   font-size: 16px;
   font-weight: 500;
}
.item__gold{
   display: flex;
   align-items: center;
   margin-top: 3px;
}
.item__gold p{
   color: #096DD9;
}
.item__aboutBtn button{
   width: 32px;
   height: 32px;
   border-radius: 6px;
   border: none;
   cursor: pointer;
}
.item__aboutBtn button:active{
   transform: translateY(2px);
}
.wrapper{
   background: rgba(0,0,0,0.5);
   filter: brightness(0.5) blur(10px);
   outline: solid 20px
}
.overlay{
   position: absolute;
   z-index: 1000;
   width: 100%;
   height: 100vh;
}
.cityRating__notification{
   width: 650px;
   padding: 24px;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.cityRating__notification h3{
   font-size: 28px;
   font-weight: 500;
}
.tableColumns{
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
}
.column{
   margin-left: 25px;
}
.columnMain{
   flex: 1;
   margin-left: 0;
}
.column p{
   font-size: 20px;
   font-weight: 400;
   line-height: 28px;
}
.column span{
   text-decoration: underline;
}
.column p:first-child{
   margin-bottom: 10px;
   font-size: 12px;
   font-weight: 400;
   color: #8C8C8C;
}
.totalRating{
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
}
.totalRating p{
   font-size: 20px;
   font-weight: 500;
   color: #1890FF;
}
.cityRating__notification::after{
   content: '';
   position: absolute;
   background-image: url(../../../img/citySecrets/X.png);
   background-repeat: no-repeat;
   background-position: center;
   width: 30px;
   height: 30px;
   top: -35px;
   right: -35px;
   cursor: pointer;
}


@media(max-width: 1150px){
   .aboutUser{
      margin-right: 5px;
   }
   .item__info{
      margin-left: 10px;
   }
}

@media(max-width: 1020px){
   .cityRating{
      margin-top: 25px;
      padding-bottom: 30px;
   }
}

@media(max-width: 750px){
   .cityRating__items{
      display: block;
   }
   .cityRating__item{
      width: 100%;
   }
   .cityRating__notification{
      width: 515px;
   }
   .column{
      margin-left: 10px;
   }
   .columnMain{
      margin-left: 0;
   }
}

@media(max-width: 600px){
   .cityRating__notification::after{
      top:7px;
      right: 7px;
      background-color: #000;
      border-radius: 5px;
   }
   .cityRating__notification{
      width: 95%;
   }
}

@media(max-width: 500px){
   .column p{
      font-size: 16px;
   }
}

@media(max-width: 450px){
   .cityRating__title h2{
      font-size: 24px;
   }
   .column{
      margin-left: 5px;
   }
   .columnMain{
      margin-left: 0;
   }
   .column p{
      font-size: 14px;
   }
   .cityRating__notification{
      padding: 14px;
   }
   .cityRating__notification h3{
      font-size: 24px;
   }
}

@media(max-width: 400px){
   .column p{
      font-size: 12px;
   }
}

@media(max-width: 350px){
   .column{
      text-align: center;
   }
   .columnMain{
      text-align: unset;
   }
   .column p{
      white-space: nowrap;
      font-size: 11px;
   }
}