.cityBank{
   flex: 1;
}
.cityBank__text h2{
   font-size: 40px;
   font-weight: 500;
}
.cityBank__text p{
   font-size: 16px;
   font-weight: 400;
   margin-top: 25px;
}
.cityBank__btns{
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.cityBank__btn{
   width: 24%;
   height: 70px;
   border: 2px solid #1890FF;
   margin-bottom: 25px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
}
.cityBank__btn:active{
   transform: translateY(2px);
}
.cityBank__btn p{
   color: #1890FF;
   font-size: 16px;
   font-weight: 400;
}
.latestChanges{
   margin-top: 40px;
}
.latestChanges h2{
   font-size: 40px;
   font-weight: 500;
   margin-bottom: 30px;
}
.changes p{
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 2px;
}
.keyAndUsers{
   margin: 30px 0;
   display: flex;
}
.key, .cityBank__users{
   width: 50%;
}
.cityBank__users{
   margin-top: 5px;
}
.cityBank__users ul{
   list-style: none;
}
.cityBank__users ul li{
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 5px;
}


@media(hover: hover) and (pointer: fine){
   .cityBank__btn:hover{
      background-color: #1890FF;
   }
   .cityBank__btn:hover p{
      color: #fff;
   }
}

@media(max-width: 1020px){
   .key{
      display: flex;
      justify-content: center;
   }
   .cityBank{
      margin-top: 25px;
   }
}

@media(max-width: 800px){
   .keyAndUsers{
      display: block;
   }
   .key{
      display: block;
   }
   .key, .cityBank__users{
      width: 100%;
   }
}

@media(max-width: 600px){
   .cityBank__btn{
      width: 49%;
   }
  
}

@media(max-width: 500px){
   .cityBank__text h2, .latestChanges h2{
      font-size: 24px;
   }
}

@media(max-width: 350px){
   .key img{
      width: 100%;
   }
}